# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Virtual environments  
.venv/
venv/
.env

# OS
.DS_Store

# Training artifacts
checkpoints/
llama_stack_provider_trl_remote/job_queue/
job_queue/
*.pth
*.safetensors
*.bin
llama_stack_provider_trl_remote/dpo_checkpoints/

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints 